<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Django Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">
</head>
<body>
    
    <nav>
        {% include 'navbar.html' %}
    </nav>
    
    <div class="container">
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        
        <main>
            {% block content %}
            <!-- Page-specific content goes here -->
            {% endblock %}
        </main>
    </div>
    
    <footer>
        &copy; 2024 Django Project
    </footer>
</body>
</html>
